<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <body>
      <div class=navbar>
      <nav class="navbar fixed-top navbar-light">
        <a class="navbar-brand" href="/">Home</a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Albums
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- HOw do I target each album.title in the JSON?-->
            <% if (pageTitle.length > 0) { %>
            <% for (i=0; i < pageTitle.length; i++) { %>
            <a class="dropdown-item" href="/albums/<%= pageShortName[i] %>"><%=pageTitle[i]%></a>
            <!-- <li><img src="/images/<%= pageTitle[i] %>" alt="pageTitle <%= i %>"></li> -->
            <% } %>
            <% } %>
          </div>
        <a class="navbar-brand" href="/feedback">Feedback</a>
        <a class="navbar-brand" href="/chat">Chat</a>
        
        </div>
      </div>
  
      </nav>
     
      
  
    <br>
    <br>
      <div class="row">
        <div class="albumLeft col-sm-3">
      <br />
      <h1><%=pageTitle[0]%></h1>
      <br />
      Released: <%=pageReleaseDate[0]%>
      <br>
      <br />
      Sales: <%=pageSales%>
      <br><br>
        <div><img src="/images/<%= pageArt[0]%>" alt="" /></div>
        </div>
          <div class="albumRight col-sm-9">
        <div><%=pageSummary[0]%></div>
      <br />
      <br />
        <div></div>
        <div> <img src="/images/<%= pageTracklist[0]%>" alt="" width="900px" /><div>
          </div>
        </div>
          </div>
      </div>
      <br />
      <h1 class="text-center">Active Band Members during <%= pageTitle %></h1>
      <br>
      <div class="row bandholder justify-content-center">
        <% if (pageBandPics.length > 0) { %>
          <% for (i=0; i< pageBandPics.length; i++) { %>
             <div class="col bandmembers"><% pageBandMembers[i] %><img src="/images/<%= pageBandPics[i] %>" height="300px" alt="pageBandPics <%= i %>">
            </div> 
          <% } %>
          <% } %>
        <!-- <%pageBandPics.forEach(function(albumObj) { %>
       <p><img src="/images/<%= pageBandPics%>" alt=""></p></div>
        <% }); %> -->
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
