<!DOCTYPE html>
<html lang="en">
  <head>
    <title>30 Seconds To Mars</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <!-- <div class="background">Page Background -->
  <body>
    <div class=navbar>
    <nav class="navbar fixed-top navbar-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/feedback">Feedback</a>
      <a class="navbar-brand" href="#">Chat</a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Albums
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/albums/30_Seconds_To_Mars">30 Seconds to Mars</a>
          <a class="dropdown-item" href="/albums/A_Beautiful_Lie">A Beautiful Lie</a>
          <a class="dropdown-item" href="/albums/This_Is_War">This Is War</a>
          <a class="dropdown-item" href="/albums/Love_Lust_Faith_and_Dreams">Love, Lust, Faith and Dreams</a>
          <a class="dropdown-item" href="/albums/America">America</a>

        </div>
      </div>
    </div>

    </nav>
    <div class='parallax'></div>
    <div class="row">
        <div class='albumstats col-12 align-middle'>
        <br>
        <h4>Thirty Seconds to Mars (commonly stylized as 30 Seconds to Mars) is an American rock band from Los Angeles, California, formed in 1998. The band consists of brothers Jared Leto (lead vocals, guitar, bass, keyboards) and Shannon Leto (drums, percussion). During the course of its existence, it has undergone various line-up changes.</h4>
        <br>
        <h4>The band's debut album, 30 Seconds to Mars (2002), was produced by Bob Ezrin and released to positive reviews but only to limited commercial success. The band achieved worldwide fame with the release of its second album A Beautiful Lie (2005), which received multiple certifications all over the world. Its next release, This Is War (2009), showed a dramatic evolution in the band's musical style, as it incorporated experimental music as well as eclectic influences. The recording process of the album was marked by a legal dispute with record label EMI that eventually became the subject of the documentary film Artifact (2012). Thirty Seconds to Mars then moved to Universal Music and released the fourth album, Love, Lust, Faith and Dreams (2013), to critical and commercial success. It was followed by America (2018), which polarized critics upon release.</h4>
        <br>
        <h4>As of September 2014, the band had sold over 15 million albums worldwide. Thirty Seconds to Mars has consistently enjoyed sold out tours and numerous headlining festival slots. The band is noted for its energetic live performances and for fusing elements from a wide variety of genres, through its use of philosophical and spiritual lyrics, concept albums, and experimental music. Thirty Seconds to Mars has received several awards and accolades throughout its career, including a Guinness World Record, and has been included in the Kerrang! list of best artists of the 2000s.</h4>
        </div>
      </div>
    

    <div class='parallax30STM'></div>
    <div class="row">  
     <div class='albumstats col-3'><h1>30 Seconds To Mars</h1> <a href="/albums/<%=pageShortName[0]%>"><img src="/images/<%= albumIMG[0]%>" alt=""></a></div>
     <div class='albumstats col-9 align-middle'><h4><%= pageSummary[0] %></h4></div>
    </div>
    
    <div class='parallaxABL row'></div>
    <div class="row">  
        <div class='albumstats col-3'><h1>A Beautiful Lie</h1> <a href="/albums/<%=pageShortName[1]%>"><img src="/images/<%= albumIMG[1]%>" alt=""></a></div>
        <div class='albumstats col-9'><h4><%= pageSummary[1] %></h4></div>
       </div>

    <div class='parallaxTIW row'></div>
    <div class="row">  
        <div class='albumstats col-3'><h1>This Is War</h1> <a href="/albums/<%=pageShortName[2]%>"><img src="/images/<%= albumIMG[2]%>" alt=""></a></div>
        <div class='albumstats col-9'><h4><%= pageSummary[2] %></h4></div>
       </div>


    <div class='parallaxLFFD row'></div>
    <div class="row">  
        <div class='albumstats col-3'><h1>Love, Lust, Faith and Dreams</h1> <a href="/albums/<%=pageShortName[3]%>"><img src="/images/<%= albumIMG[3]%>" alt=""></a></div>
        <div class='albumstats col-9'><h4><%= pageSummary[3] %></h4></div>
       </div>

    <div class='parallaxAMERICA row'></div>
    <div class="row">  
        <div class='albumstats col-3'><h1>America</h1> <a href="/albums/<%=pageShortName[4]%>"><img src="/images/<%= albumIMG[4]%>" alt=""></a></div>
        <div class='albumstats col-9'><h4><%= pageSummary[4] %></h4></div>
       </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

